brotli==1.0.9
brotlipy==0.7.0
ConfigParser==5.0.2
cryptography==3.4.7
Cython==0.29.23
dl==0.1.0
docutils==0.17.1
HTMLParser==0.0.2
importlib_metadata==3.10.0
ipaddr==2.2.0
keyring==22.3.0
lockfile==0.12.2
lxml==4.6.3
mypy_extensions==0.4.3
numpy==1.20.1
ordereddict==1.1
protobuf==3.19.1
pyOpenSSL==21.0.0
PyQt6==6.2.1
python-dotenv==0.19.1
typing_extensions==3.7.4.3
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.4.1
